In [7]:
import pandas as pd
data = pd.read_csv("traffic_measurement.csv")
data

Empty DataFrame
Columns: [Vehicle Type/Size,  Vehicle Color,  Vehicle Movement Direction,  Vehicle Speed (km/h),  Day ,  Month,  Date,  Hours,  Minutes,  Seconds]
Index: []

In [19]:
a = pd.read_csv("traffic_measurement.csv")

In [20]:
a

,Vehicle Type/Size,Vehicle Color,Vehicle Movement Direction,Vehicle Speed (km/h),Day,Month,Date,Hours,Minutes,Seconds
0,car,white,down,28.86685477362739,Sun,Nov,11,18,19,19
1,car,white,down,25.86172315809462,Sun,Nov,11,18,19,19
2,car,white,down,19.694523281521267,Sun,Nov,11,18,19,19
3,car,white,down,13.201654222276476,Sun,Nov,11,18,19,24
4,car,white,down,79.71195591820612,Sun,Nov,11,18,19,25
5,car,white,down,n.a.,Sun,Nov,11,18,19,33
6,car,white,up,-17.404581705729168,Sun,Nov,11,18,19,34
7,car,white,down,114.99968634711372,Sun,Nov,11,18,19,37

In [21]:
b = pd.read_csv("gsf.csv")

In [22]:
b

Empty DataFrame
Columns: [Vehicle Type/Size,  Vehicle Color,  Vehicle Movement Direction,  Vehicle Speed (km/h),  Day ,  Month,  Date,  Hours,  Minutes,  Seconds]
Index: []

In [23]:
merged = pd.concat([a,b])

In [25]:
merged

,Vehicle Type/Size,Vehicle Color,Vehicle Movement Direction,Vehicle Speed (km/h),Day,Month,Date,Hours,Minutes,Seconds
0,car,white,down,28.86685477362739,Sun,Nov,11,18,19,19
1,car,white,down,25.86172315809462,Sun,Nov,11,18,19,19
2,car,white,down,19.694523281521267,Sun,Nov,11,18,19,19
3,car,white,down,13.201654222276476,Sun,Nov,11,18,19,24
4,car,white,down,79.71195591820612,Sun,Nov,11,18,19,25
5,car,white,down,n.a.,Sun,Nov,11,18,19,33
6,car,white,up,-17.404581705729168,Sun,Nov,11,18,19,34
7,car,white,down,114.99968634711372,Sun,Nov,11,18,19,37

In [ ]:
with open('gsf.csv', 'a') as csvFile:
    writer = csv.writer(csvFile)
    writer.writerow(merged)
    csvFile.close()